@import "compass/css3/inline-block";

@mixin button {
  font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
  font-size:12px;
  background:#000;
  color:#fff;
  border:1px solid #fdd716;
  text-transform:uppercase;
  text-decoration: none;
  padding:5px 20px 10px 10px;
  @include inline-block;

  &:after {
    position: relative;
    content: '\203A';
    left: 10px;
    top: 1px;
    color: #fdd716;
    font-size: 1.5em;
    font-family: verdana, arial
  }
}