<%= render '/shared/banner' %>

<div id='body'>
  <section id='main'>
    <%=raw @page.content_for(:body) %>
  </section>

  <section id='sidebar'>
    <%= render 'shared/fb_like_box' %>
  </section>
</div>
