<%= render '/shared/banner' %>

<div id='body'>
  <section id='main'>
    <%=raw @page.content_for(:body) %>
  </section>

  <section id='sidebar'>
    <%=raw @page.content_for(:side_body) %>
  </section>
</div>
