<%= render '/shared/banner' %>

<section id='body_content'>
  <div id="main">
    <%=raw @page.content_for(:body) %>
  </div>
</section>

<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>