<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Mariner's Competition</h2>
<% end %>

<%= main_content do %>
  <ul class="tabs">
    <li><%= link_to "Mariner's Competition", "#competition" %></li>
  </ul>

  <div class="panes">

    <div class="competition">
      <h2>Mariner's Competition</h2>
      <p>The Socce5s Skills Challenges have been a great success. Now it’s your chance to get on the pitch at half-time at the Mariners next home match.</p>

      <p>The winning entries will face-off in the next skills challenge and the winner will get to play against the Mariners select at the Soccer5s launch tournament! Fill in the form below to enter the draw.</p>
      <%= render 'form' %>
    </div>
  </div>
<% end %>