<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Mariner's Competition</h2>
<% end %>

<div id="main">
  <ul class="tabs">
    <li><%= link_to "Mariner's Competition", "#competition" %></li>
  </ul>
  
  <div class="panes">
    
    <div class="competition">
      <h2>Mariner's Competition</h2>
      <p>Soccer5s in association with the Central Coast Mariners will grant access to our opening tournament to the winner of this competition's team. The winning team will be granted automatic access into the Group which the Central Coast Mariners Select Team is in.</p>
      <p>The tournament will welcome our major sponsors and affiliated organisations. It will be a festival day of five a sides and you could go all the way to claim the Inaugural Soccer5s Challenge Cup.</p>
      <p>The winning captain's team will be given strips from Soccer5s to keep and wear in the competition and the captain will receive an individual piece of exclusive world soccer memorabilia.</p>
      <%= render 'form' %>
    </div>
  </div>
</div>
