<% content_for :banner do %>
  <h2 id="title">Mariner's Competition</h2>
<% end %>

<%= main_content do %>
  <ul class="tabs">
    <li><%= link_to "Mariner's Competition", "#competition" %></li>
  </ul>

  <div class="panes">

    <div class="competition">
      <h2>Thank You</h2>
      <p>Your Mariner's Competition Entry Form has been received</p>
      <form>
        <h3>Stay tuned for more information</h3>
      </form>
    </div>
  </div>
<% end %>