<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Terms and Conditions</h2>
<% end %>

<%= main_content do %>
  <ul class="tabs">
    <li><%= link_to "Mariner's Competition", "#competition" %></li>
  </ul>

  <div class="panes">

    <div class="competition">
      <h2>Mariner's Competition - Terms and Conditions</h2>
      <ol>
        <li>Soccer5s will schedule the date of the competition as we build up to kicking off.</li>
        <li>The competition will be scheduled for a weekend day.</li>
        <li>The Prize Winning Captain will be notified 1 month before the tournament. All other applicants will receive correspondance from Soccer5s informing them of other opportunities in the future.</li>
        <li>The captain must nominate his squad of players 1 week before the tournament or forfeit entry. A squad of 7 players must be selected including the team captain.</li>
        <li>The Central Coast Mariners have the right to select who represent the club in the tournament. Subject to availability.</li>
        <li>Soccer5s will not distribute, sell or pass on any information which is provided to them from entering the competition. </li>
        <li>You may from time to time receive updates from Soccer5s with offers and upcoming events, you have the right to opt out of this.</li>
      </ol>
    </div>
  </div>
<% end %>