html{
	height:100%;
	background:#191919;
	}
	body{
		height:100%;
		color:#fff;
		font:normal normal bold 1em arial, sans-serif;
	}
	#content{
		position:relative;
		width:960px;
		height:100%;
		margin:0 auto;
		font-size:14px;
		}
		#player{
			position:absolute;
			width:312px;
			height:232px;
			z-index:100;
		}
		#logo{
			position:absolute;
			top:15px;
			right:100px;
			z-index:200;
		}
		#intro{
			position:absolute;
			top:100px;
			left:290px;
			text-align:right;
			z-index:200;
			}
			p{
				margin:3px 0;
				}
				p.impact{
					text-transform:uppercase;
					font:normal normal 27px impact;
					}
					p.impact span{
						color:#fed801;
		}
		#form{
			position:relative;
			width:365px;
			height:150px;
			border:1px solid #222;
			position:absolute;
			bottom:40px;
			right:100px;
			z-index:1;
			}
			#form form{
				margin:30px 10px 10px 30px;
			}
			form *{
				float:left;
				z-index:100;
			}
			form input{
				width:200px;
				padding:3px;
				font-size:14px;
				border:2px solid #191919;
				color:#111;
				}
				form input:focus{
					outline:none;
				}
			form button{
				outline:none;
				border:0;
				background:transparent;
				margin-left:10px;
			}
			form button::-moz-focus-inner { border: 0; }
			.disclaimer{
				position:absolute;
				bottom:0;
				text-align:center;
				text-transform:uppercase;
				padding:15px;
				border-top:1px solid #222;
				font-size:12px;
			}
			.thanks{
				text-align:center;
				margin:40px 0 20px;
			}
			