html{
	height:100%;
	background:#050708 url('/images/bg.jpg') repeat-x top center;
	}
	body{
		height:100%;
		color:#5a5a5a;
		font:normal normal normal 1em arial, sans-serif;
	}
	#content{
		position:relative;
		width:960px;
		height:100%;
		margin:0 auto;
		font-size:14px;
		}

.wrap{
	padding:20px;
}