html{
	height:100%;
	background:#050708 url('/images/bg.jpg') repeat-x top center;
	}
	body{
		height:100%;
		color:#fff;
		font:normal normal bold 1em arial, sans-serif;
	}
	#content{
		position:relative;
		width:960px;
		height:100%;
		margin:0 auto;
		font-size:14px;
		background:#292929;
		}
		#banner{
			background:#060405;
			height:210px;
			border-bottom:5px solid #fdd636;
			}
			#logo{
				padding:30px 0 0 50px;
			}
		#body{
			position:absolute;
			width:100%;
			top:256px;
			bottom:0;
			background:#ebebeb;
			}
			#main{
				
			}
			#side{
				border-left:#cecece;
			}