html{
	height:100%;
	background:#191919;
	}
	body{
		height:100%;
		color:#fff;
		font:normal normal bold 1em arial, sans-serif;
	}
	#content{
		position:relative;
		width:960px;
		height:100%;
		margin:0 auto;
		font-size:14px;
		background:#292929;
		}
