#body{
  /*This is annoying, but for some reason i can't get main/body to both always be height 100% depending on who is taller*/
	background:#ebebeb url('/images/embed/body-bg.png') repeat-y 650px center;
	overflow:auto;
	width:100%;
	}
	#main{
		margin-right:310px;
		}
		img.page-body{
			border:1px solid #d7d7d7;
			float:left;
			margin:10px 20px 10px 0;
		}
		p.clear{clear:left;}
	* html #main{margin-right:300px;}
	
	#sidebar{
		float:right;
		height:100%;
		width:310px;
		color:#5a5a5a;
		line-height:110%;
		}
		#sidebar p a{
			color:#5a5a5a;
			font-weight:bold;
			font-style:italic;
		}
		#sidebar .links p{
		  text-align:center;
		}