#body{
	background:#ebebeb;
	}
	#main{
		margin-right:310px;
		border-right:1px solid #cecece;
		}
		img.page-body{
			border:1px solid #d7d7d7;
			float:left;
			margin:10px 20px 10px 0;
		}
		p.clear{clear:left;}
	* html #main{margin-right:300px;}
	
	#sidebar{
		float:right;
		height:100%;
		width:310px;
		color:#5a5a5a;
		line-height:110%;
		}
		#sidebar p a{
			color:#5a5a5a;
			font-weight:bold;
			font-style:italic;
		}
		#sidebar p img{
			margin-top:20px;
		}