#body{
	height:600px;
	background:#ebebeb;
	}
	#main{
		margin-right:311px;
	}
	* html #main{
		margin-right:300px;
	}
	#sidebar{
		border-left:1px solid #cecece;
		float:right;
		height:100%;
		width:310px;
		color:#5a5a5a;
		}
		#sidebar p{
			margin:10px 0;
			font-size:12px;
			}
			#sidebar p a{
				color:#5a5a5a;
				font-weight:bold;
				font-style:italic;
			}
			#sidebar p img{
				margin-top:20px;
			}