#body{
  /*This is annoying, but for some reason i can't get main/body to both always be height 100% depending on who is taller*/
	background:#ebebeb url('/images/embed/body-bg.png') repeat-y 650px center;
	overflow:auto;
	width:100%;
	}
	#main{
		margin-right:310px;
		}
		p.clear{clear:left;}
	* html #main{margin-right:300px;}
	
	.logos{
	  overflow:auto;
	  padding:15px;
	}
	span.std{
	  float:right;
	  margin:5px;
	  border:1px solid #d7d7d7;
	  margin-top:10px;
    }
    span.std img{
      float:right;    /* Not sure why img has whitespace at the bottom, this fixes it */
      border:5px solid #fff;
    }
	
	#sidebar{
		float:right;
		height:100%;
		width:310px;
		color:#5a5a5a;
		line-height:110%;
		}
		#sidebar p a{
			color:#5a5a5a;
			font-weight:bold;
			font-style:italic;
		}
		#sidebar .logos p{
		  text-align:center;
		}
		p.address{
		  font-weight:bold;
		}