@font-face {
	font-family: 'HelveticaNeueLTStd77BoldConde';
	src: url('/fonts/helveticaneueltstd-bdcn-webfont.eot');
	src: local('HelveticaNeueLTStd77BoldConde'), url('/fonts/embed/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'), url('/fonts/helveticaneueltstd-bdcn-webfont.svg#webfontKRuvRyVC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd87HeavyCond';
	src: url('/fonts/helveticaneueltstd-hvcn-webfont.eot');
	src: local('HelveticaNeueLTStd87HeavyCond'), url('/fonts/embed/helveticaneueltstd-hvcn-webfont.ttf') format('truetype'), url('/fonts/helveticaneueltstd-hvcn-webfont.svg#webfontwBHTpOtt') format('svg');
	font-weight: normal;
	font-style: normal;
}

body h1{
	color:#fff;
	line-height:0.8em;
	text-transform:uppercase;
	font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
	font-size:30px;	
	}
	#home h1{
		font-size:40px;
	}
body h2{	
	color:#5a5a5a;
	text-transform:uppercase;
	font-family: 'HelveticaNeueLTStd87HeavyCond', helvetica, arial, sans-serif;
	font-size:25px;
}

h2#title{
	color:#fdd716;
	font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
	font-size:30px;
}

h3{
	font-size:16px;
	font-weight:bold;
	margin:5px 0;
}

p{
	margin:10px 0;
	font-size:12px;
	line-height:1.5em;
}

#slogan p{
	color:#fff;
	margin:0;
	font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
	font-size:21px;
	text-transform: uppercase;
	}
	#slogan p span{
		color:#fdd716;
	}

#home .info p{
	color:#fff;
	font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
	font-size:22px;
	line-height:0.95em;
	margin:0;
	}
	#home .info p.notice{
		font-size:30px;
		color:#fdd716;
}