@font-face {
	font-family: 'HelveticaNeueLTStd77BoldConde';
	src: url('/fonts/helveticaneueltstd-bdcn-webfont.eot');
	src: local('HelveticaNeueLTStd77BoldConde'), url('/fonts/embed/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'), url('/fonts/helveticaneueltstd-bdcn-webfont.svg#webfontKRuvRyVC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd87HeavyCond';
	src: url('/fonts/helveticaneueltstd-hvcn-webfont.eot');
	src: local('HelveticaNeueLTStd87HeavyCond'), url('/fonts/embed/helveticaneueltstd-hvcn-webfont.ttf') format('truetype'), url('/fonts/helveticaneueltstd-hvcn-webfont.svg#webfontwBHTpOtt') format('svg');
	font-weight: normal;
	font-style: normal;
}

body h2{	
	color:#5a5a5a;
	text-transform:uppercase;
	font-family: 'HelveticaNeueLTStd87HeavyCond', helvetica, arial, sans-serif;
	font-size:25px;
	}

	h2#title{
		color:#fdd716;
		font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
		font-size:30px;
}
