/**
*		Main menu for soccer5s
*
*
*/
ul#main-menu{
	overflow:auto;
	width:100%;  /* IE6 */
	background:#000 url('/images/embed/menu.png') repeat-x;
	font: normal normal bold 14px arial, sans-serif;
	}
	#main-menu li{
		float:left;
		border-right:1px solid #bca21e;
		border-left:1px solid #fee460;
		}
    /*
    *   Ideally we'd use :first-child, :last-child here but IE7 sucks
    *   And the IE9 js causes a flash of menu content
    *
    */
		#main-menu li#home-link{border-left:0;}
		#main-menu li#contact-link{border-right:0;}
		
		li#home-link{width:97px;}
		li#what-link{width:164px;}
		li#facility-link{width:112px;}
		li#kids-link{width:130px;}
		li#training-link{width:100px;}
		li#competition-link{width:133px;}
		li#about-link{width:105px;}
		li#contact-link{width:105px;}

		ul#main-menu li#home-link a{background-position: 75px 22px;}
		ul#main-menu li#what-link a{background-position: 147px 22px;}
		ul#main-menu li#kids-link a{background-position: 118px 22px;}
		ul#main-menu li#competition-link a{background-position: 118px 22px;}
		ul#main-menu li#contact-link a{background-position: 88px 22px;}

		#main-menu a{
			display:block;
			height:41px;
			line-height:41px;
			text-decoration:none;
			text-transform:uppercase;
			color:#000;
			text-align:center;
			background:transparent url('/images/embed/menu-bullet.png') no-repeat 90% 22px;
}
			
/**
*		Denote 'active' links by their body id
*
*/
#home li#home-link,
#what li#what-link,
#facilities li#facility-link,
#kids li#kids-link,
#training li#training-link,	
#competition li#competition-link,
#about li#about-link,
#contact li#contact-link{
	background-color:#000;
	border-left:1px solid #000;
}
#home li#home-link{border-left:0;}
	
#home li#home-link a,
#what li#what-link a,
#facilities li#facility-link a,
#kids li#kids-link a,
#training li#training-link a,	
#competition li#competition-link a,
#about li#about-link a,
#contact li#contact-link a{
	color:#fdd716;
	background:transparent url('/images/embed/menu-bullet-on.png') no-repeat 90% 22px;
}
