ul.tabs{
	overflow:hidden;
	width:640px;
	padding:10px 0 0 10px;
	background:#e8e8e8 url('/images/sprite.png') repeat-x center 44px;
	}
	ul.tabs li{
		position:relative;
		float:left;
		margin-right:10px	;
		border:1px solid #d6d6d6;
		border-bottom:0;
		}
		ul.tabs li a{
			display:block;
			padding:10px 15px;
			font:normal normal bold 12px arial, sans-serif;
			color:#5a5a5a;
			border-left:1px solid #f9f9f9;
			background:#f9f9f9 url('/images/sprite.png') repeat-x center -43px;
		}
		ul.tabs li.current a{
			background-image:none;
}

div.panes{
	clear:left;
	padding:30px;
	height:400px;
	background:#ebebeb url('/images/sprite.png') repeat-x center -78px;
}