<section id="banner" class="<%= random_banner_bg %>">
  <div class="heading-bg">&nbsp;</div>

  <%= render :partial => home_page? ? '/shared/banner/enhanced' : '/shared/banner/std' %>
  <div id="logo"><%= image_tag 'logos/white-trans.png' %></div>
</section>
