<div id="slogan" class="enhanced">
  <h1>Bringing 5-a-side Soccer To Australia</h1>
</div>

<div id="notice">
  <%= link_to image_tag('logos/mariners.png'), 'http://www.ccmariners.com.au', :target => '_blank' %>
  <h2>Coming soon to Tuggerah at The Mariners Centre of Excellence <span>Opening December 2011</span></h2>
</div>