<h2>Useful Links</h2>
<p>Below are some links you may find useful</p>
<p><%= link_to 'Soccer5s on Facebook', 'http://www.facebook.com/pages/Soccer5s/124555744270317' %></p>
<p><%= link_to 'Central Cost Mariners FC', 'www.ccmariners.com.au' %></p>
<p><%= link_to 'Football NSW', 'www.footballnsw.com.au'%></p>
<p><%= link_to 'Ruaridh Currie Design', 'www.ruaridh-currie.com' %></p>