<div id="content">
  <div id="logo"><img src="/images/logo.png" alt="logo" /></div>
  <div id="intro">
    <p>Premium 5 a side soccer centres</p>
    <p class="impact">Coming Soon to <span>Australia</span></p>
  </div>
  <div id="form">
    <%= yield %>
    <p class="disclaimer">We Won’t Sell or Abuse Your Email in Anyway. We Will Only Email Once We Launch.</p>
  </div>
</div>