<div id="slogan" class="enhanced">
  <h1>Bringing <span class="highlight">5-a-side Soccer</span> To Australia ALL WEATHER</h1>
</div>

<div id="notice">
  <h2><%= link_to "1 Bryant Drive", refinery.inquiries_new_inquiry_path(anchor: 'map') %>, Tuggerah at the Mariners Centre of Excellence</h2>
</div>

<div class="info">
  <p>
    For information on Soccer5s email <a href="mailto:info@soccer5s.com">info@soccer5s.com</a><br />
    call <span class="font-color-yellow">02 4355 4805</span>
  </p>
</div>

<div id="home_links">
  <%= link_to 'Leagues', "http://soccer-5s.ezleagues.ezfacility.com", class: "button", target: "_blank" %>
  <%= link_to 'Join a League', 'http://www.soccer5s.com/leagues/register', class: 'button' %>
</div>
