<div id="slogan" class="enhanced">
  <h1>Bringing <span class="highlight">5-a-side Soccer</span> To Australia ALL WEATHER</h1>
</div>

<div id="notice">
  <%= link_to image_tag('logos/mariners.png'), 'http://www.ccmariners.com.au', :target => '_blank' %>
  <h2>At The Mariners Centre of Excellence in Tuggerah</h2>
</div>

<div class="info">
  <p>For information on Soccer5s email <a href="mailto:info@soccer5s.com">info@soccer5s.com</a></p>
</div>

<div id="home_links">
  <%= link_to 'Leagues', "http://soccer-5s.ezleagues.ezfacility.com", class: "button", target: "_blank" %>
  <%= link_to 'Join a League', refinery.inquiries_new_inquiry_path, class: 'button' %>
</div>