//= require reset
//= require menu
//= require_self
//= require_tree .
html{
  height:100%;
  background:#050708 image-url('bg.jpg') repeat-x top center;
  }
  body{
    height:100%;
    color:#5a5a5a;
    font:normal normal normal 1em arial, sans-serif;
  }
  #content{
    position:relative;
    width:960px;
    height:100%;
    margin:0 auto;
    font-size:14px;
    }

.wrap{
  padding:20px;
}

th {
  font-weight:bold;
}
td, th {
  padding:3px 5px;
}