@import "compass/css3/opacity";
@import 'mixins/transparent-bg';
@import 'mixins/banner-bg';

#home {
  #banner{
    height:415px;
    border-bottom: 5px solid #fff;

    .heading-bg { width: 425px; }

    @include banner-bg('banners/home/', 2);
  }
}

#banner{
  position:relative;
  background:#000 image-url('banners/default.jpg') no-repeat top right;
  height:250px;

  @include banner-bg('banners/pages/', 7);

  .heading-bg {
    @include transparent-bg;
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 100%;
  }

  #logo {
    position: absolute;
    right: 50px;
    top: 30px;
    display: block;
  }

  #slogan{
    position:absolute;
    right:0;
    bottom:30px;
    width:300px;
    background:image-url('embed/slogan-bg-std.png') no-repeat center right;
    text-align: right;
    padding-right: 30px;
  }

  #slogan.enhanced{
    bottom:auto;
    top:140px;
    background:image-url('embed/slogan-bg-enhanced.png') no-repeat bottom right;
  }

  #notice{
    position:absolute;
    right:0;
    top:250px;
    width:400px;

    img{
      float:left;
      padding:5px;
    }
  }
}
