#banner{
  position:relative;
  background:#000 image-url('banners/default.jpg') no-repeat top right;
  height:210px;
  border-bottom:5px solid #fdd716;
  }
  #logo{
    padding:30px 0 0 50px;
  }
  #title{
    position:absolute;
    bottom:30px;
    left:30px;
  }
  #slogan{
    position:absolute;
    right:0;
    bottom:30px;
    width:315px;
    background:image-url('embed/slogan-bg-std.png') no-repeat center right;
  }
  #slogan.enhanced{
    bottom:auto;
    top:140px;
    background:image-url('embed/slogan-bg-enhanced.png') no-repeat bottom right;
  }
  #notice{
    position:absolute;
    right:0;
    top:250px;
    width:470px;
    }
    #notice img{
      float:left;
      padding:5px;
    }