@import "compass/css3/opacity";
@import 'mixins/transparent-bg';

#banner{
  position:relative;
  background:#000 image-url('banners/default.jpg') no-repeat top right;
  height:250px;

  &.one   { background-image: image-url('banners/pages/one.jpg');   }
  &.two   { background-image: image-url('banners/pages/two.jpg');   }
  &.three { background-image: image-url('banners/pages/three.jpg'); }
  &.four  { background-image: image-url('banners/pages/four.jpg');  }
  &.five  { background-image: image-url('banners/pages/five.jpg');  }
  &.six   { background-image: image-url('banners/pages/six.jpg');   }
  &.seven { background-image: image-url('banners/pages/seven.jpg'); }
  &.eight { background-image: image-url('banners/pages/eight.jpg'); }
  &.nine  { background-image: image-url('banners/pages/nine.jpg');  }

  .heading-bg {
    @include transparent-bg;
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 100%;
  }

  #logo {
    position: absolute;
    right: 50px;
    top: 30px;
    display: block;
  }

  #slogan{
    position:absolute;
    right:0;
    bottom:30px;
    width:300px;
    background:image-url('embed/slogan-bg-std.png') no-repeat center right;
    text-align: right;
    padding-right: 30px;
  }

  #slogan.enhanced{
    bottom:auto;
    top:140px;
    background:image-url('embed/slogan-bg-enhanced.png') no-repeat bottom right;
  }

  #notice{
    position:absolute;
    right:0;
    top:250px;
    width:400px;

    img{
      float:left;
      padding:5px;
    }
  }
}
