@import 'mixins/clearfix';

html{
  background:#040404 image-url('bg2.jpg') repeat-x top center;
}

body{
  color:#5a5a5a;
  font:normal normal normal 1em arial, sans-serif;
}

#page_container{
  position:relative;
  width:960px;
  margin:0 auto;
  font-size:14px;

  .wrap{
    padding:20px;
  }
}

#logo {
  display: none;
}

th {
  font-weight:bold;
}

td, th {
  padding:3px 5px;
}

a {
  color: #FDD716;
}

.highlight {
  color: #FDD716;
}

.cf {
  @include clearfix;
}