#body_content{
  /*This is annoying, but for some reason i can't get main/body to both always be height 100% depending on who is taller*/
  background:#ebebeb image-url('embed/body-bg.png') repeat-y 650px center;
  overflow:auto;
  width:100%;
}

#main{
  margin-right:310px;

  &.with-sidebar {
    min-height: 750px;
  }
}
  p.clear{clear:left;}
* html #main{margin-right:300px;}

span.std{
  float:right;
  margin:5px;
  border:1px solid #d7d7d7;
  margin-top:10px;
}
span.std.noborder{
  border:none;
  margin-right:50px;
  }
  span.std img{
    float:right;    /* Not sure why img has whitespace at the bottom, this fixes it */
    border:5px solid #fff;
  }
  span.std.noborder img{
    border:none;
  }

#side_body{
  float:right;
  height:100%;
  width:310px;
  color:#5a5a5a;
  line-height:110%;

  p a{
    color:#5a5a5a;
    font-weight:bold;
    font-style:italic;
  }

  .logos{
    overflow:auto;

    p{
      text-align:center;
    }
  }
}