#body{
  background-color: #ebebeb;

  & > section {
    display: inline-block;
    vertical-align: top;
  }
}

#main{
  width: 67%;
  border-right: 1px solid #cecece;
  min-height: 578px;
}

#sidebar{
  max-width: 290px;
  color:#5a5a5a;
  padding: 10px;

  p a{
    color:#5a5a5a;
    font-weight:bold;
    font-style:italic;
  }

  .logos{
    overflow:auto;

    p{
      text-align:center;
    }
  }
}

p.clear{clear:left;}
* html #main{margin-right:300px;}

span.std{
  float:right;
  margin:5px;
  border:1px solid #d7d7d7;
  margin-top:10px;

  img{
    float:right;    /* Not sure why img has whitespace at the bottom, this fixes it */
    border:5px solid #fff;
  }

  &.noborder{
    border:none;
    margin-right:50px;

    img{
      border:none;
    }
  }
}
