.button{
  background:#000;
  color:#fdd716;
  border:1px solid #fdd716;
  text-transform:uppercase;
  padding:10px;
  padding-right:40px;
  background:image-url('embed/button.png') no-repeat center right;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}