@font-face {
  font-family: 'HelveticaNeueLTStd77BoldConde';
  src: font-url('helveticaneueltstd-bdcn-webfont.eot');
  src: local('HelveticaNeueLTStd77BoldConde'), font-url('embed/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'), font-url('helveticaneueltstd-bdcn-webfont.svg#webfontKRuvRyVC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd87HeavyCond';
  src: font-url('helveticaneueltstd-hvcn-webfont.eot');
  src: local('HelveticaNeueLTStd87HeavyCond'), font-url('embed/helveticaneueltstd-hvcn-webfont.ttf') format('truetype'), font-url('helveticaneueltstd-hvcn-webfont.svg#webfontwBHTpOtt') format('svg');
  font-weight: normal;
  font-style: normal;
}

body h1{
  color:#fff;
  line-height:0.8em;
  text-transform:uppercase;
  font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
  font-size:30px;
  }
  #home h1{
    font-size:34px;
}

body h2{
  color:#5a5a5a;
  text-transform:uppercase;
  font-family: 'HelveticaNeueLTStd87HeavyCond', helvetica, arial, sans-serif;
  font-size:25px;
  }
  body h2 span.lower{
    text-transform:lowercase;
}

h3{
  font-size:16px;
  font-weight:bold;
  margin:5px 0;
}

p{
  margin:10px 0;
  font-size:12px;
  line-height:1.5em;
  }
  p a{
    text-decoration:underline;
    color:#5a5a5a;
}

ol{
  list-style-type:decimal;
  margin:5px;
  list-style-position:inside;
}

strong{
  font-weight:bold;

  em {
    font-weight:bold;
    font-style:italic;
    font-size: 0.8em;
  }
}

#slogan {
  .title {
    color: #fdd716;
    font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
    font-size: 30px;
  }

  p{
    color:#fff;
    margin:0;
    font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
    font-size:21px;
    text-transform: uppercase;

    span{
      color:#fdd716;
    }
  }
}

#notice h2,
#overlay h2{
  color:#fff;
  }
  #notice h2 span,
  #overlay h2 span{
    color:#fdd716;
}

#home .info p{
  color:#fff;
  font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
  font-size:22px;
  line-height:0.95em;
  margin:0;
  }
  #home .info p a{
    color: #579343;
}

#carousel h2{
  color:#fff;
  font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
  margin-top:20px;
  }
  #carousel h2 em{
    color:#fdd716;
}

#carousel a.more{
  text-transform:uppercase;
  font-family: 'HelveticaNeueLTStd77BoldConde', helvetica, arial, sans-serif;
  font-size:22px;
  color:#fdd716;
  line-height:40px;
  padding: 0 20px;
  height:auto;width:auto;
}

.forward{
  font-weight:bold;
  text-align:right;
  }
  .forward a{
    text-decoration:none;
  }

p strong{
  font-weight:bold;
  font-size:1.3em;
}
p.address{
  font-weight:bold;
}

.font-color-yellow { color: #fdd716 !important; }
.font-color-white  { color: #fff    !important; }
.font-color-green  { color: #579343 !important; }