@import "compass/css3/opacity";
@import 'mixins/transparent-bg';

#home {
  #banner{
    height:415px;
    border-bottom: 5px solid #fff;

    .heading-bg { width: 425px; }

    &.one   { background-image: image-url('banners/home/one.jpg');   }
    &.two   { background-image: image-url('banners/home/two.jpg');   }
    &.three { background-image: image-url('banners/home/three.jpg'); }
    &.four  { background-image: image-url('banners/home/four.jpg');  }
    &.five  { background-image: image-url('banners/home/five.jpg');  }
    &.six   { background-image: image-url('banners/home/six.jpg');   }
  }

  #slogan{
    width:400px;
  }

  .info{
    @include transparent-bg;
    position:absolute;
    width:270px;
    height:50px;
    bottom:20px;
    padding:10px 20px;
    left:0;
  }

  .bg{
    background:#000;
    @include opacity(0.6);
  }

  #body, .panes{
    background-image:none;
  }
  .panes{
    padding:20px;
  }

  .logos{
    padding:20px;
  }
}

#home_links{
  position:absolute;
  right:20px;
  bottom:20px;
}