ul.tabs{
  overflow:hidden;
  padding:10px 0 0 10px;
  background:#e8e8e8 image-url('embed/tab-bottom.png') repeat-x bottom;
  }
  ul.tabs li{
    float:left;
    margin-right:10px  ;
    border:1px solid #d6d6d6;
    border-bottom:0;
    }
    ul.tabs li a{
      display:block;
      padding:10px 15px;
      font:normal normal bold 12px arial, sans-serif;
      color:#5a5a5a;
      border-left:1px solid #f9f9f9;
      background:#f9f9f9 image-url('embed/tabs.png') repeat-x bottom;
    }
    ul.tabs li a.current{
      background-image:none;
}

div.panes{
  padding:30px;
  min-height:200px;
  background:#ebebeb image-url('embed/body.png') repeat-x top;
}