<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">About Us</h2>
<% end %>

<% content_for :sidebar do %>
  <h2>Useful Links</h2>
  <p>Below are some links you may find useful</p>
  <p><a href="http://www.worldsoccershop.com">www.worldsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.foxsoccershop.com">www.foxsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.diadora.com.au">www.diadora.com.au</a> - buy you soccer gear here and get a 25% discount</p>
  <!-- <p><%= image_tag 'ad.jpg' %></p> -->
<% end %>


<div id="main">
  <ul class="tabs">
    <li><%= link_to "About Soccer 5s", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>About Soccer 5s - History</h2>
      <!-- <%= image_tag 'about.jpg', :class =>'page-body' %> -->
      <p>We are all footballers who live, breathe and eat Soccer.</p>
      <p>We are committed to organizing the most exciting form of Soccer on the planet.</p>
      <p>It is very hard to get a full sized pitch and get together the 22 plus players that you need to have game of soccer every week.  Five a sides at one of our centres will ensure you feel like you are running out at Wembley at the FA Cup final every week.</p>
      <p>If you don’t believe, simply try it.</p>
      <p>Soccer5s brings your soccer dreams to life.</p>
      <p class="quote">'Be the best'</p>      
    </div>
  </div>
  
</div>