<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">About Us</h2>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links' %>
<% end %>

<div id="main">
  <ul class="tabs">
    <li><%= link_to "About Soccer 5s", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>About Soccer 5s - History</h2>
      <p>We are all footballers who live, breathe and eat Soccer.</p>
      <p>We are committed to organizing the most exciting form of Soccer on the planet.</p>
      <p>It is very hard to get a full sized pitch and get together the 22 plus players that you need to have game of soccer every week.  Five-a-sides at one of our centres will ensure you feel like you are running out at Wembley at the FA Cup final every week.</p>
      <p>If you don’t believe, simply try it.</p>
      <p>Soccer5s brings your soccer dreams to life.</p>
      <p class="quote">'Be the best'</p>      
    </div>
  </div>
  
</div>