<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Contact</h2>
<% end %>

<% content_for :sidebar do %>
  <h2>Our Location</h2>
  <p>You’ll find us located near lorem ipsum dolow sit Lorem ipsum dolor sit amet, consectetur</p>
  <p>Soccer 5s<br />
    120 Smith and Black Street<br />
    Somewheresville<br />
    Australia<br />
    NSW 2124
  </p>
  <p>+44 (0)1483 548282<br />
    <a href="mailto:info@soccer5s.com">info@soccer5s.com</a>
  </p>
<% end %>

<div id="main">
  <ul class="tabs">
    <li><%= link_to "Contact Form", "#" %></li>
    <li><%= link_to "Location Map", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>Use the Form Below for Any Enquiries</h2>
      <p>Soccer 5s action is not just limited to adults – we also provide junior 5-a-side football leagues, kids football coaching and football camps as well as fun packed football parties. Speaking of parties, if you need to hire rooms for a private function / party we have fantastic licensed function rooms for use suitable for every occasion so contact your local centre to check availability.</p>
      
      <form id="form"></form>
    </div>
    <div><h2>Map</h2></div>
  </div>
  
</div>