<div id="content">
  <div id="player"><img src="/images/player.png" alt="player" /></div>
  <div id="logo"><img src="/images/logo.png" alt="logo" /></div>
  <div id="intro">
    <p>Australia's premium 5 a side soccer centres</p>
    <p class="impact">Coming Soon to <span>Australia</span></p>
  </div>
</div>