<div id="content">
  <div id="logo"><img src="/images/logo.png" /></div>
  <div id="intro">
    <p>Australia's premium 5 a side soccer centres</p>
    <p class="impact">Coming Soon to <span>Australia</span></p>
  </div>
  <div id="form">
    
  </div>
</div>