<% content_for :slogan do %>
  <%= render :partial => '/shared/enhanced_slogan' %>
<% end %>

<% content_for :banner do %>
  <div class="info bg"></div>
  <div class="info">
    <p>We Can Take Advanced Bookings Online or Call Us On</p>
    <p class="notice">08234 1234 5678</p>
  </div>
<% end %>

<% content_for :carousel do %>
  <p>Carousel</p>
<% end %>

<div id="home-body">
  <%= image_tag '/images/about.jpg', :class => 'page-body', :style => 'float:right;margin-top:0;margin-left:10px'%>
  <h2>Welcome to Soccer 5S</h2>
  <p>Soccer 5s action is not just limited to adults – we also provide junior 5-a-side football leagues, kids football coaching and football camps as well as fun packed football parties. Speaking of parties, if you need to hire rooms for a private function / party we have fantastic licensed function rooms for use suitable for every occasion so contact your local centre to check availability.</p>
  <p>We can provide bespoke tournament packages and can even host both your conference event and entertainment at our venues!</p>
  <p>Get your friends and come down to your local Soccer 5s centre. When you cross that white line, you’ll know you made the right choice...</p>

  
</div>