<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Leagues</h2>
<% end %>

<% content_for :sidebar do %>
  <h2>Useful Links</h2>
  <p>Below are some links you may find useful</p>
  <p><a href="http://www.worldsoccershop.com">www.worldsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.foxsoccershop.com">www.foxsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.diadora.com.au">www.diadora.com.au</a> - buy you soccer gear here and get a 25% discount</p>
<% end %>


<div id="main">
  <ul class="tabs">
    <li><%= link_to "Leagues", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>Leagues</h2>
      <p>Soccer5s provide leagues for any gender, age group and skill level. Soccer5s can arrange bounce games to place your team at a level you will be comfortable at. Leagues run all year round on 3 month blocks with automatic promotion for champions and finals at the end of the season.</p>
      <p>To join leagues and register your interest please click the link below</p>
    </div>
  </div>
  
</div>