<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Training</h2>
<% end %>

<% content_for :sidebar do %>
  <h2>Useful Links</h2>
  <p>Below are some links you may find useful</p>
  <p><a href="http://www.worldsoccershop.com">www.worldsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.foxsoccershop.com">www.foxsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.diadora.com.au">www.diadora.com.au</a> - buy you soccer gear here and get a 25% discount</p>
<% end %>


<div id="main">
  <ul class="tabs">
    <li><%= link_to "Training At Soccer 5s", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>Training At Soccer 5s</h2>
      <p>Why do you join a gym? You join because you’re not happy with something – usually your weight, your lack of muscle tone, your fitness or your lack of muscles. You join a gym to get results! At Soccer 5s gyms we understand that you want results – and that you don’t want to pay a fortune to get them!</p>
      <p>Soccer 5s gyms are equipped with everything you need to be on top of your game. Our quality apparatus will test you to your limit - and give you a run for your money.</p>
      <p>With Powerleague there are so many ways to keep super fit.</p>
      <h3>Cross trainer</h3>
      <p>It’s just like skiing - but without the cold. Cross training is increasingly popular and we embrace the many benefits of cross training at Powerleague. With a combination of exercises, you push your upper and lower body. It’s the all-over training solution.</p>
      <h3>Weights</h3>
      <p>Football is about skill, but it’s also about strength. Look at Ronaldo. As long as you know your limits and you’re sensible, there’s much to be gained from weight training. Soccer 5s, we have a whole host of weights to help keep you in peak condition.</p>
      <h3>Rowing Machine</h3>
      <p>You get a fantastic workout with rowing machines. It’s almost as good as swimming, in the sense that you are strengthening so many muscles: arms, legs, especially your shoulders. No-one will barge you off the ball. You’ll be able to take care of yourself.</p>
      <h3>Cross trainer</h3>
      <p>It’s just like skiing - but without the cold. Cross training is increasingly popular and we embrace the many benefits of cross training at Soccer 5s. With a combination of exercises, you push your upper and lower body. It’s the all-over training solution.</p>
    </div>
  </div>
  
</div>