<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Training</h2>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links' %>
<% end %>


<div id="main">
  <ul class="tabs">
    <li><%= link_to "Training At Soccer 5s", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>Training At Soccer 5s</h2>
      <p>Does your local Club struggle to find a grass paddock to train on?</p>
      <p>Our Astroturf is specifically designed to play identical to grass. We have 15 years of experience in developing synthetic grass and shock pad systems. This enables players to train on our state of the art astroturf, as it provides the closest experience to grass.</p>
      <p>Hire any of our 1st class 7 a Side pitches regularly and your local Club will never look back. Clubs, Managers and Officials can organise block bookings for training sessions every week, which will guarantee facilities for your club to hold regular sessions giving you a competitive edge.</p>
      <p>Our pitch dimensions, ball roll capacity, artificial light levels and locations, ball to fence return and goal to box size ratios have been developed and rigorously tested to allow your skills to develop and sparkle.</p>
      <p>Try it out and let us know your thoughts. We are continuously aiming to develop for the better of Soccer and most importantly our players.</p>
      <p class="quote">'We believe in our product, we believe in Soccer.'</p>
    </div>
  </div>
  
</div>