<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">What is 5-a-side</h2>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links' %>
<% end %>

<%= main_content do %>
  <ul class="tabs">
    <li><%= link_to "What is 5-a-side", "#" %></li>
  </ul>

  <div class="panes">
    <div>
      <h2>What is 5-a-side</h2>
      <p>Five-a-side soccer is a phenomenon which began in Scotland and spread quickly throughout the UK. It is now the highest regular participation activity for soccer players in the UK.</p>
      <p>It is fast, fun and contagious, it allows players to develop ball skills and tactical awareness. Five-a-side can be played by people of varying age and skill set. Soccer5s is completely flexible; we can provide leagues, tournaments, casual games and even club training.</p>
      <p>Neil Hickey has project managed for major five-a-side operators over the last 15 years in the UK, since the phenomenon began.</p>
      <p>Neil's invaluable experience in developing five-a-side centres, will ensure Soccer5s will have the latest Technology, optimum Pitch Dimensions and Turf Systems. With Neil's expertise we aim to provide the best Soccer Centres in Australia. We are the only operator in Australia with hands on experience and knowledge of the five-a-side industry.</p>
      <p>Once you play five-a-side in a Soccer5s centre, there is no turning back.</p>
      <p class="quote">'You can be the player You want to be'</p>
    </div>
  </div>

<% end %>