<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">What is 5-a-side</h2>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links' %>
<% end %>

<div id="main">
  <ul class="tabs">
    <li><%= link_to "What is 5-A-Side", "#" %></li>
  </ul>
  
  <div class="panes">
    <div>
      <h2>What is 5-A-Side</h2>
      <p>Five a side football is a phenomenon which began and Scotland and took over in the UK as the highest regular participation sport for sport for soccer players.</p>
      <p>This game is fast, fun and contagious. This game allows players to develop ball control and tactical awareness, it can be played by people of varying skill set. You can play anyway you want leagues, tournaments, casual games and even club training.</p>
      <p>Soccer5s are committed to providing Australians with an incredible sporting experience.</p>
      <p>Soccer5s Development Director Neil Hickey was the Project Manager for the major Five a Side Operators when this phenomenon began 15 years ago in the UK.</p>
      <p>Neil’s invaluable experience in developing Five a Sides Centres, will ensure Soccer5s will have the latest Technology, Pitch Dimensions and Turf Systems, to ensure Soccer5s have the best Soccer Centres in Australia. We are the only operator in Australia with hands on experience and knowledge of the Five a Side industry.</p> 
      <p>Once you play Five a Sides in a Soccer5s Centre, there is no turning back.</p>
      <p class="quote">'You can be the player You want to be'</p>
    </div>
  </div>
  
</div>